task_6/src/draw/node_modules
task_5/src/draw/node_modules

related_cache
**/src/test/**

task_4/src/build
task_5/src/build
task_6/src/build
task_7/src/build
task_8/src/venv

task_8/src/methods/__pycache__
task_8/src/aux/__pycache__
