task_6/src/draw/node_modules
task_5/src/draw/node_modules

related_cache
**/src/test/**
**/src/build/**

task_7/src/out
task_8/src/venv

task_8/src/methods/__pycache__
task_8/src/aux/__pycache__

task_mm/src/.clangd
task_mm/src/results/cache

task_opt/src/.clangd
